python==3.11
transformers
accelerate
torch
datasets
sentencepiece
numpy
flash-attn
evaluate
mosestokenizer
wandb
ipdb

sklearn
DateTime==4.7
gensim==4.2.0
openai==0.23.0
pandas-datareader==0.10.0
seaborn==0.11.2
statsmodels==0.13.2
tensorflow==2.10.0
xgboost==1.6.2
protobuf==3.20.3